*{
	margin: 0; 
	padding: 0; 
	font-family: 'Times New Roman';
}
body{
	width: 1000px;
	margin: 0; 
	padding: 0;
	font-family: 'Times New Roman';
	background-color: #e6e6e6;
}
.wrapper{
	width: 1200px;
	margin: auto;
	position: relative;
}
.logo a{
	font-size: 50px;
	font-weight: bold;
	position: relative;
	top: 30px;
	font-family: Georgia;
	color: #F7FBFC;
	text-align: center;
	left: 10px;
	text-shadow: 2px 3px 3px #aaaaaa;
}
.menu{
	width: 50;
	position: relative;
	top: 70px;
	left: 20px;
	text-align: left;
	line-height: 40px;
	font-size: 20px;
}
nav{
	width: 240px;
	position: fixed;
	top: 0;
	left: 0;
	float: left;
	background: #1FAB89;
	height: 100%;
}
li {
	list-style: none;
}
li a{
	list-style: none;
	color: rgb(255, 255, 255);
}
li a:hover{
	color: #000;
}
li a:active{
	color: rgb(235, 202, 202);
}

table{
	position: absolute;
    top: 150px;
	left: 260px;
	padding: 5px 10px;
	margin: auto;
	border-collapse: collapse;
	height: auto;
	vertical-align: top;
	width: 1300px;
	table-layout: fixed;
	word-wrap: break-word;
	background-color: #ffffff;
	border: #929292;
}
th{
	height: 30px;

}
td{
	height: 30px;
}
h2{
	position: relative;
	top: 40px;
	left: 280px;
}
.head{
	position: absolute;
    top: 1px;
	left: 240px;
	width: 1360px;
	background-color: #ffffff;
	height: 100px;
}
.forms{
	position: absolute;
	left: 270px;
	top: 110px;

}
.forms a{
	color: white;
	font-size: 16px;
}
button{
	background-color: #1FAB89;
	width: 65px;
	font-family: Arial;
	border: white;
	height: 28px;
}
button:hover{
	background-color: #2badd1b7;

}